PORT=3000
MONGODB_URI=mongodb://localhost:27017/quan_ao
SESSION_SECRET=replace_me
APP_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=dvdvt89@gmail.com
SMTP_PASS=wcdhktcaahuqcslk
SMTP_FROM="SHOP VANUTRUYEN <dvdvt89@gmail.com>"

